body {
    font-family: "Courier New", Courier, monospace;
    font-size: 130%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("https://cdn.glitch.global/a1e927eb-43f5-4725-931f-9021a664b70d/questions.jpg?v=1746446948767");
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background: #CED3DC;
}

h1 {
    text-align: center;
    background: #b22525;
    color: #fce5b8;
}

h2 {
    background: #602422;
    color: #fce5b8;
}

h3 {
    color: #fce5b8;
    background: #8c2f2f;
    text-align: center;
}

.all {
    display: flex;
    justify-content: space-around;
}

.right {
    width: 33%;
    background: #602422;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.middle {
    width: 33%;
    text-align: center;
    background: #8c2f2f;
}

.left {
    width: 33%;
    background: #602422;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

article {
    background: #efd2ae;
}

#images {
    overflow-y: auto;
    max-height: 850px;
}

#aboutMe {
    font-weight: bold;
}

#gallery {
    background: none;
}

.buttons {
    text-align: center;
    background: none;
}

img {
    width: 70%;
    border: 5px solid #b22525;
    border-radius: 10%;
    transition: width 0.2s ease;
}

p {
    color: #301010;
    padding-left: 3%;
    transition: background 0.3s ease;
}

p:hover {
    background: #e0b47f;
}

li {
    color: #301010;
    transition: background 0.3s ease;
}

li:hover {
    background: #e0b47f;
}

a {
    color: #8c2f2f;
}

a:hover {
    color: #301010;
}

button {
    color: #efd2ae;
    font-family: inherit;
    font-size: 130%;
    font-weight: bold;
    border-width: 8px;
    border-color: #8c2f2f;
    background-color: #b22525;
    transition: opacity 0.1s ease;
}

button:hover {
    opacity: 50%
}

small {
    opacity: 50%;
}

hr {
    background: #b22525;
    height: 20px;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b22525;
}

#hidden {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    cursor: inherit;
}

.cats {
    width: 30%;

}

.cats:hover {
    width: 30%;
}