:root {
    /* BACKGROUND */
    --bgmain: #e8e5de;
    --bgaccent: #355377;
    --bgaccent2: #398888;
    /* FONT */
    --fmain: #27385f;
    --fsecondary: var(--bgmain);
    /* SIDENAV */
    --leftwidth: 250px;
}

body {
    font-size: 20px;
    background-color: var(--bgmain);
    color: var(--fmain);
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-x: hidden;
}

button {
    background-color: var(--bgaccent);
    border: 0;
    font-size: 40px;
    height: 100px;
    width: 100%;
    color: var(--fsecondary);
    font-family: inherit;
    cursor: pointer;
    transition: 0.1s ease;
}

button:hover {
    background-color: var(--bgaccent2);
}

h2 {
    text-align: center;
    font-size: 40px;
    color: var(--fmain);
}

h3 {
    color: var(--fmain);
}

#images img {
    height: 250px;
}

.main div {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 100px;
}

a {
    color: #7b91a0;
}

hr {
    border: 5px solid var(--bgaccent);
    width: 100%;
}

.sidenav hr {
    border: 1px solid var(--bgmain);
}

#other p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#other a {
    opacity: 50%;
    font-size: 15px;
}

#manic img {
    height: 270px;
}

.sidenav {
    height: 100%;
    width: var(--leftwidth);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bgaccent);
    overflow-x: hidden;
    padding-top: 10px;
}

.main {
    margin-left: var(--leftwidth);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bgaccent2);
}

#faded {
    margin: 0;
    padding: 0;
    font-size: 19px;
    position: fixed;
    opacity: 10%;
    z-index: -4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 500px) {
    :root {
        --leftwidth: 70px
    }

    body {
        margin-right: 0;
        overflow-x: auto;
    }

    .main {
        padding-left: 0;
        padding-right: 0;
        margin-left: var(--leftwidth);
    }


    .sidenav {
        padding-top: 15px;
        
    }

    .button {
        font-size: 10px;
    }

    h2 {
        font-size: 30px;
    }

    img {
        max-height: 150px;
    }
}