body {
    font-family: "Courier New", Courier, monospace;
    font-size: 130%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FM%2FMV5BMTYzMDU5Mzk3OF5BMl5BanBnXkFtZTYwMzg2NTQ3._V1_FMjpg_UX1000_.jpg&f=1&nofb=1&ipt=8998e5468854027fd7072875025ba33b5c2b879f6a0d4f7edd54ab21311dbc0c");
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background: #0010eb;
}

h1 {
    text-align: center;
    background: #f41004;
    color: #060d99;
}

h2 {
    background: #25aa00;
    color: #060d99;
}

h3 {
    color: #060d99;
    background: #7aaa00;
    text-align: center;
}

.all {
    display: flex;
    justify-content: space-around;
}

.right {
    width: 33%;
    background: #25aa00;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.middle {
    width: 33%;
    text-align: center;
    background: #7aaa00;
}

.left {
    width: 33%;
    background: #25aa00;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

article {
    background: #ffee38;
}

#images {
    overflow-y: auto;
    max-height: 850px;
}

#aboutMe {
    font-weight: bold;
}

#gallery {
    background: none;
}

.buttons {
    text-align: center;
    background: none;
}

img {
    width: 70%;
    border: 5px solid #f41004;
    border-radius: 10%;
    transition: width 0.2s ease;
}

p {
    color: #25aa00;
    padding-left: 3%;
    transition: background 0.3s ease;
}

p:hover {
    background: #ffc430;
}

li {
    color: #25aa00;
    transition: background 0.3s ease;
}

li:hover {
    background: #ffc430;
}

a {
    color: #7aaa00;
}

a:hover {
    color: #25aa00;
}

button {
    color: #060d99;
    font-family: inherit;
    font-size: 130%;
    font-weight: bold;
    border-width: 8px;
    border-color: #f41004;
    background-color: #f41004;
    transition: opacity 0.1s ease;
}

button:hover {
    opacity: 50%
}

small {
    opacity: 50%;
}

hr {
    background: #f41004;
    height: 20px;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f41004;
}

#hidden {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    cursor: inherit;
}

.cats {
    width: 30%;

}

.cats:hover {
    width: 30%;
}